{% extends 'base.html' %}

{% block title %} Add Shop Items {% endblock %}


{% block body %}

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">Nome do Produto</th>
            <th scope="col">Preço anterior</th>
            <th scope="col">Preço atual</th>
            <th scope="col">Em estoque</th>
            <th scope="col">Foto</th>
            <th scope="col">Promoção</th>
            <th scope="col">Adicionar</th>

        </tr>
    </thead>

    <tbody>
        <tr>
            <form action="" method="POST", enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                <td>{{ form.product_name }}</td>
                <td>{{ form.previous_price }}</td>
                <td>{{ form.current_price }}</td>
                <td>{{ form.in_stock }}</td>
                <td>{{ form.product_picture() }}</td>
                <td>{{ form.flash_sale }}</td>
                <td>{{ form.update_product() }}</td>
            </form>
        </tr>
    </tbody>
</table>


{% endblock %}